tr:nth-child(odd) td:nth-child(odd),tr:nth-child(even) td:nth-child(even) {
 background-color: orange;
 color: black;
}


tr:nth-child(odd) td:nth-child(even),tr:nth-child(even) td:nth-child(odd) {
 color:orange;
 background-color: black;
}